.flip-card {
    background-color: transparent;
    max-height: 1200px;
    min-height: 450px;
}

/*@media screen and (max-width: 992px) {
    .flip-card {
        min-height: 500px;
    }
}*/

/*@media screen and (max-width: 576px) {
    .flip-card {
        min-height: 600px;
    }
}*/

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/*.flip {
    transform: rotate(-180deg);
}*/

.flip-card .flip {
    transform: rotateY(180deg);
}

.flip-card .flip-card-change-view {
    margin-left: 100%;
    z-index: 1;
    position: absolute;
    top: 5px;
    left: -25px;
    content: url("/static/images/change.png")
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    transform: rotateY(180deg);
}