

.modal-progress {
    height: 5px;
}

.modal-card {
    margin: auto;
    max-width: 380px;
    max-height: 200px;
    align-items: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}

@media(max-width:767px) {
    .modal-card {
        width: 90vw
    }
}

.modal-card-img {
    padding: 10px 0;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

    .modal-card-img img {
        opacity: 0.7
    }

.modal-card-title {
    margin-bottom: unset
}

    .modal-card-title p {
        color: rgb(29, 226, 226);
        font-weight: 900;
        font-size: 30px;
        margin-bottom: unset
    }

.modal-card-text p {
    color: grey;
    font-size: 12px;
    text-align: center;
    font-weight: lighter
}

.modal-img-success {
    content: url("/static/images/checkmark.png");
}

.modal-img-error {
    content: url("/static/images/error.png");
}

.modal-img-loading {
    content: url("/static/images/loading.png");
}

.modal-card-loading {
    border-color: #007bff !important
}

.modal-card-error {
    border-color: #dc3545 !important
}

.modal-card-success {
    border-color: #28a745 !important
}

.modal-progress-bar-error {
    background-color: #dc3545 !important
}

.modal-progress-bar-success {
    background-color: #28a745 !important
}

.modal-progress-bar-loading {
    background-color: #28a745 !important;
    display: none
}
