@model BetCR.Repository.ValueObject.Lineup

@{
    var colors = ViewData["colors"] as List<string> ?? new List<string>()
    {
        "#fff",
        "#000"
    };
    var color = colors.LastOrDefault();
    var backgroundColor = colors.FirstOrDefault();
    <div class="player-view">
        <div class="player" style="background-color: @backgroundColor; border-color: @color;">
            <div class="number" style="color: @color;">@Model.Number</div>
            <div class="name  d-none d-lg-block text-uppercase">@Model.Player.Name</div>
        </div>
    </div>

}