@model BetCR.Repository.Entity.Match

<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/football/player.css" type="text/css"/><title>Pitch</title>
</head>

<div>
    <div class="pitch responsive" style="background-color: #588f58; background-image: url('/static/css/football/img/pitch.png'), url('/static/css/football/img/lines.png')">
        <div class="teams">
            @{
                <div class="team">
                    @{
                        var homeColors = Model.HomeTeam.DominantColors?.Split(";").ToList();
                    }

                    @{ await Html.RenderPartialAsync("Match/_MatchTeam", Model.MatchEvent.MatchLineup.HomeTeamLineup.Where(w => w.StartingXI), new ViewDataDictionary(ViewData)
                       {
                           {
                               "colors", homeColors
                           },
                       }); }
                </div>
            }
            @{
                <div class="team away">
                    @{
                        var awayColors = Model.AwayTeam.DominantColors?.Split(";").ToList();
                    }

                    @{ await Html.RenderPartialAsync("Match/_MatchTeam", Model.MatchEvent.MatchLineup.AwayTeamLineup.Where(w => w.StartingXI), new ViewDataDictionary(ViewData)
                       {
                           {
                               "colors", awayColors
                           }
                       }); }
                </div>
            }
        </div>
    </div>
</div>