@model IEnumerable<BetCR.Repository.ValueObject.Event>
@{

    @foreach (var item in Model)
    {
        var name = item.EventType == "OWN_GOAL" ? item.Player1.FullName + "(OG)" : item.Player1.FullName;
        <div style="width: max-content; height: max-content">
            <h8>@name @item.Elapsed'</h8>
        </div>
    }
}