@model IEnumerable<BetCR.Repository.ValueObject.Lineup>

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/football/player.css" type="text/css"/><title>Team Positions</title>
</head>


<div class="goalkeeper">
    @{
        var goalKeeper = Model.FirstOrDefault(w => w.Position == "GOALKEEPER");
        await Html.RenderPartialAsync("Match/_MatchPlayer", goalKeeper);
    }
</div>

<div class="lines">
    <div class="line">
        @{
            var defenders = Model.Where(w => w.Position == "DEFENDER").ToList();

            foreach (var player in defenders)
            {
                await Html.RenderPartialAsync("Match/_MatchPlayer", player);
            }
        }
    </div>
    <div class="line">
        @{
            var midfielders = Model.Where(w => w.Position == "MIDFIELDER").ToList();
            foreach (var player in midfielders)
            {
                await Html.RenderPartialAsync("Match/_MatchPlayer", player);
            }
        }
    </div>
    <div class="line">
        @{
            var forwards = Model.Where(w => w.Position == "FORWARD").ToList();
            foreach (var player in forwards)
            {
                await Html.RenderPartialAsync("Match/_MatchPlayer", player);
            }
        }
    </div>
</div>