@model BetCR.Repository.Entity.MatchEvent
<div class="row  align-items-center">
    <div class="col-4">
        <h1>@Model.HomeTeamScore</h1>
    </div>
    <div class="col-4">
        <h5>:</h5>
    </div>
    <div class="col-4">
        <h1>@Model.AwayTeamScore</h1>
    </div>
</div>